.flower {
	animation: flower 2s ease 0s infinite normal none;
}

@keyframes flower {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
  
}


.jonah{
  position: relative;
  margin: 20px 500px;
  transition: transform 1s ease;
}

.jonah:hover {
  transform: translate(-320px, 0px) scale(0.8) ;
}

.jonah:active {
  transform: rotate(-26deg) skew(15deg) scale(0.6);
}



.image3{
  position: relative;
  margin: 20px 500px;
  transition: transform 1s ease;
}

.image3:hover {
  transform: translate(-320px, 0px) scale(0.8) ;
}

.image3:active {
  transform: rotate(-26deg) skew(15deg) scale(0.6);
}





