.flower {
	animation: flower 2s ease 0s infinite normal forwards;
	
	@keyframes flower {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
	}
	
	

.jonah{
  position: relative;
  margin: 20px 500px;
  transition: transform 1s ease;
}

.jonah:hover {
  transform: translate(-320px, 0px) scale(0.8) ;
}


.image3{
  position: relative;
  margin: 20px 500px;
  transition: transform 1s ease;
}
	
.image3:active {
  transform: rotate(-26deg) skew(15deg) scale(0.6);
}





