     @font-face{
        font-family:  "Anton";
        src: url("https://fonts.google.com/");
      }

       @font-face{
        font-family:  "Dosis";
        src: url("https://fonts.google.com/");
      }

.element {
  @include float-left;
}
.another-element {
  @include float-right;
}
.one-more {
  @include float-none;
}


    h1{
    	font-family: 'Anton';
      color: #A65E4E;
      text-align: center;
      font-size:100px;
      font-weight: bold;
         
      
    }
    
    h2{
    	font-family: "Dosis";
      color: #BF5D54;
      text-align: center;
      font-size:50px;
     }
    
    img{
    	
      border-radius: 30px;
      width: 80%;
      height: auto;
    }

.logo-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
    
    .carousel {
  width:640px;
  height:360px;
}

.carousel-control-prev-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.carousel-control-next-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.sr-only {
     position: absolute;
    bottom: 20px;
    right: 20px;
}

.button {
     position: absolute;
    bottom: 20px;
    right: 20px;
}
