body {
  margin: 0;
  padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #fff;
    color: #444;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  }

.About {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
  }

.video1 {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

.video2  {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }

.image1 {
    grid-column: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }

@font-face{
        font-family:  "Anton";
        src: url("https://fonts.google.com/");
      }

       @font-face{
        font-family:  "Dosis";
        src: url("https://fonts.google.com/");
      }


    h1{
      font-family: 'Anton';
      color: #A65E4E;
      text-align: center;
      font-size:100px;
      font-weight: bold;
         
      
    }
    
    p{
      font-family: "Dosis";
      color: #BF5D54;
      text-align: center;
      font-size:50px;
     }




